/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {list-style: none;}
a {text-decoration: none;}

/* BOT CSS */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}

:root {
    --color-background: #121214;
    --color-green: #04d361;
    --color-red: #e83f5b;
    --color-orange: #fd951f;
    --color-yellow: #f7df1e;
    --color-primary: #8257e6;
    --color-primary-hover: #9466ff;
    --color-secondary: #e1e1e6;
    --color-text: #a8a8b3;
    --color-support: #737380;
    --color-shape: #202024;
    --color-shape-hover: #29292e;
    --color-icons: #41414d;
    --color-borders: #323238;
    --color-black: #0d0d0f;
    --color-white: #fff;
}

/* STYLE CSS */
body {
    background-color: var(--color-white);
    font-family: 'Audiowide', cursive;
}
.header,
.nav-desktop {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

/* ----------Nav Desktop---------- */
.logo-desktop,
.menu-desktop ul {
    display: flex;
}
.logo-desktop {
    width: 200px;
    justify-content: flex-start;
}
.logo-desktop img {
    width: 50px;
    height: 25px;
}

.menu-desktop,
.menu-desktop ul {
    flex: 1;
    justify-content: flex-end;
}

.menu-desktop ul li {
    margin-left: 20px;
}

.menu-desktop ul li a {
    color: var(--color-black);
}



/* ----------Nav Mobile---------- */