/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {list-style: none;}
a {text-decoration: none;}

/* BOT CSS */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}

:root {
    --color-background: #121214;
    --color-green: #04d361;
    --color-red: #e83f5b;
    --color-primary: #8257e6;
    --color-primary-hover: #9466ff;
    --color-black: #0d0d0f;
    --color-white: #fff;
}

/* STYLE CSS */
body {
    background-color: var(--color-white);
    font-family: 'Audiowide', cursive;
    overflow: hidden;
}
.header,
.nav-desktop {
    width: 100%;
    height: 70px;
    display: flex;
}

/* ----------Nav Desktop---------- */
.nav-desktop {
    align-items: center;
}
.logo-desktop,
.menu-desktop ul {
    display: flex;
}
.logo-desktop {
    width: 200px;
    justify-content: flex-start;
}
.logo-desktop img {
    width: 50px;
    height: 25px;
}

.menu-desktop,
.menu-desktop ul {
    flex: 1;
    justify-content: flex-end;
}

.menu-desktop ul li {
    margin-left: 20px;
}

.menu-desktop ul li a {
    color: var(--color-black);
    text-transform: uppercase;
}

@media screen and (max-width:768px) {
    .nav-desktop {
        display: none;
    }
}


/* ----------Nav Mobile---------- */
.nav-mobile,
.nav-mobile > .container,
.top-bar,
.menu-mobile,
.menu-mobile ul {
    width: 100%;
    display: flex;
}

.nav-mobile {
    background-color: var(--color-primary);
}

.nav-mobile > .container {
    flex-direction: column;
}

.top-bar {
    height: 70px;
    display: flex;
    line-height: 70px;
}
.top-bar {
    justify-content: space-between;
}
.logo-mobile img {
    width: 50px;
}

.toggle {
    height: 70px;
    cursor: pointer;
}
.toggle img{
    width: 30px;
    cursor: pointer;
}
.menu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s linear;
}
.menu-mobile ul {
    height: 100vh;
    flex-direction: column;
    background-color: var(--color-primary);
    z-index: 99;
    justify-content: center;
    align-items: center;
}
.menu-mobile ul img {
    width: 100px;
    margin-bottom: 30px;
}
.menu-mobile ul li {
    width: 100%;
    padding: 20px;
    text-align: center;
}
.menu-mobile ul li:hover {
    background-color: var(--color-primary-hover);
}
.menu-mobile ul li a {
    color: var(--color-white);
    text-transform: uppercase;
}

.menu-mobile ul .icons {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.menu-mobile ul .icons a {
    color: var(--color-white);
    margin-left: 20px;
    padding: 10px;
}

.close {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .nav-mobile {
        display: none;
    }

    .header {
        align-items: s;
    }
}