/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {list-style: none;}
a {text-decoration: none;}

html,
body,
section {
    overflow-x: hidden;
}

/* BOT CSS */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}
.active {
    color: var(--color-green);
}

:root {
    --color-background: #121214;
    --color-green: #04d361;
    --color-red: #e83f5b;
    --color-primary: #8257e6;
    --color-primary-hover: #9466ff;
    --color-black: #0d0d0f;
    --color-white: #fff;
}

/* STYLE CSS */
body {
    background-color: var(--color-white);
    font-family: 'Audiowide', cursive;
}
.header,
.nav-desktop {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: var(--color-primary);
}

/* ----------Nav Desktop---------- */
.nav-desktop {
    align-items: center;
}

.logo-desktop,
.menu-desktop ul {
    display: flex;
}
.logo-desktop {
    width: 200px;
    justify-content: flex-start;
}
.logo-desktop img {
    width: 50px;
    height: 25px;
}

.menu-desktop,
.menu-desktop ul {
    flex: 1;
    justify-content: flex-end;
}

.menu-desktop ul li {
    margin-left: 20px;
    height: 100%;
}

.menu-desktop ul li a {
    color: var(--color-white);
    text-transform: uppercase;
    padding: 10px;
    transition: all .5s linear;
}
.menu-desktop ul li a:hover {
    color: var(--color-green);
}

@media screen and (max-width:768px) {
    .nav-desktop {
        display: none;
    }
}


/* ----------Nav Mobile---------- */
.nav-mobile,
.nav-mobile > .container,
.top-bar,
.menu-mobile,
.menu-mobile ul {
    width: 100%;
    display: flex;
}

.nav-mobile {
    background-color: var(--color-primary);
}

.nav-mobile > .container {
    flex-direction: column;
}

.top-bar {
    height: 70px;
    display: flex;
    line-height: 70px;
}
.top-bar {
    justify-content: space-between;
}
.logo-mobile img {
    width: 50px;
}

.toggle {
    height: 70px;
    cursor: pointer;
}
.toggle img{
    width: 30px;
    cursor: pointer;
}
.menu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
}
.menu-mobile ul {
    height: 100vh;
    flex-direction: column;
    background-color: var(--color-primary);
    z-index: 99;
    justify-content: center;
    align-items: center;
}
.menu-mobile ul img {
    width: 100px;
    margin-bottom: 30px;
}
.menu-mobile ul li {
    width: 100%;
    padding: 20px;
    text-align: center;
}
.menu-mobile ul li:hover {
    background-color: var(--color-primary-hover);
}
.menu-mobile ul li a {
    color: var(--color-white);
    text-transform: uppercase;
}

.menu-mobile ul .icons {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.menu-mobile ul .icons a {
    margin-left: 20px;
    padding: 10px;
}
.menu-mobile ul .icons i {
    color: var(--color-white);
    transition: all .5s linear
}

.menu-mobile ul .icons i:hover {
    color: var(--color-green);
}

.close {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .nav-mobile {
        display: none;
    }

    .header {
        align-items: s;
    }
}


/* ---------- Section Banner---------- */
.banner {
    width: 100vw;
    height: calc(100vh - 70px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    margin-bottom: 50px;
}
.banner-info img {
    display: none;
}
.banner-info h2,
.banner-info h3 {
    margin-bottom: 20px;
}
.banner-info h2 {
    font-size: 30px;
}
#btn-banner {
    width: 300px;
    height: 40px;
    background-color: var(--color-primary-hover);
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#btn-banner:hover {
    background-color: var(--color-primary-hover);
}

@media screen and (max-width: 768px) {
    .banner-info {
        flex: 1;
    }
    .banner-info img {
        width: 250px;
        margin-bottom: 50px;
        display: block;
    }
}

/* ----------Section Potfólio---------- */
.portfolio {
    display: flex;
    background-color: var(--color-primary);
    padding: 50px;
}

.box-portfolio {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px var(--color-white);
}

.box-portfolio img {
    width: 200px;
    margin-bottom: 10px;
}

.box-title {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    
}

.box-portfolio p {
    color: var(--color-white);
    margin-bottom: 10px;
}

.box-portfolio a {
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 10px;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .portfolio > .container {
        flex-direction: column;
    }
    .box-portfolio {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}

/* ----------Section Servicos---------- */
.servicos {
    width: 100%;
    display: flex;
}

.servico-left,
.servico-right {
    display: flex;
    flex: 1;
}

.servico-left {
    padding: 20px 0 0 20px
}

.servico-right {
    padding: 20px 20px 0 0;
    flex-direction: column;
    align-items: center;
}
.servico-right p {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .servico-left {
        display: none;
    }
    .servico-right {
        width: 100vw;
        padding: 20px;
    }

    .servico-right iframe {
        width: 100%;
    }
}


/* ----------Divisor---------- */
.divisor {
    width: 100vw;
    height: 100px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor h2 {
    color: var(--color-white);
}

/* ----------Contato Whatsapp---------- */
.contato {
    width: 100vw;
    display: flex;
}
.contato > .container {
    justify-content: center;
}
.contact-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.contact-form h2 {
    color: var(--color-primary);
    margin-bottom: 20px;
}
#mensagem {
    width: 100%;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    color: var(--color-primary);
}

#btn-enviar {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s linear;
}
#btn-enviar:hover {
    background-color: var(--color-primary-hover);
}

#warning {
    color: var(--color-red);
    font-size: 14px;
    animation: animate .5s linear;
}
@keyframes animate {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


/* ----------Footer---------- */
.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}

.footer > .icons  a {
    margin-left: 50px;
    color: var(--color-white);
}

/* ----------Scrollbar---------- */
::-webkit-scrollbar {
    width: 14px;
    background-color: var(--color-black);
}
::-webkit-scrollbar-button {
    background-color: var(--color-white);
    color: var(--color-black);
}
::-webkit-scrollbar-track {
    background-color: var(--color-black);
}
::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: var(--color-primary);
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--color-white);
}